
@{
    ViewBag.Title = "Admin_Pannel";
}
@{
    Layout = null;
}

<link href="~/Content/admin_pannel_counter.css" rel="stylesheet" />

@*<h2>Admin_Pannel</h2>*@

@*<h3>WELLCOME @Session["ad_name"]</h3>*@

@*<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Add_Category")">ADD CATEGORY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="fa fa-code-fork"></i>
                    <span class="count-numbers">@TempData["category"]</span>
                    <span class="count-name">@Html.ActionLink("CATEGORIES", "ViewCategory", "Admin")</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter danger">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">@TempData["users"]</span>
                    <span class="count-name">@Html.ActionLink("REGISTERED USERS", "ViewUsers", "Admin")</span>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="fa fa-database"></i>
                    <span class="count-numbers">6875</span>
                    <span class="count-name">Data</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter info">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">35</span>
                    <span class="count-name">Users</span>
                </div>
            </div>
        </div>
    </div>*@

@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sidebar Menu for Admin Dashboard | CodingNepal</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    </head>
    <body>
        <nav class="sidebar">
            <a href="#" class="logo">NEXUSMARKETING</a>

            <div class="menu-content">
                <ul class="menu-items">
                    <div class="menu-title">Your menu title</div>

                    <li class="item">
                        <a href="#">Your first link</a>
                    </li>

                    <li class="item">
                        <div class="submenu-item">
                            <span>Add Category Section</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>

                        <ul class="menu-items submenu">
                            <div class="menu-title">
                                <i class="fa-solid fa-chevron-left"></i>
                                ADD CATEGORY
                            </div>
                            <li class="item">
                                <a href="@Url.Action("Add_Category")">ADD CATEGORY</a>
                            </li>
                            <li class="item">
                                <a href="@Url.Action("EditCategory")">EditCategory</a>
                            </li>
                            <li class="item">
                                <a href="#">First sublink</a>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <div class="submenu-item">
                            <span>Ad Product Section</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>

                        <ul class="menu-items submenu">
                            <div class="menu-title">
                                <i class="fa-solid fa-chevron-left"></i>
                                Your submenu title
                            </div>
                            <li class="item">
                                <a href="@Url.Action("Add_Product")">ADD PRODUCT</a>
                            </li>

                        </ul>
                    </li>

                    <li class="item">
                        <a href="#">Your second link</a>
                    </li>

                    <li class="item">
                        <a href="#">Your third link</a>
                    </li>

                </ul>
            </div>
        </nav>

        <nav class="navbar">
            <i class="fa-solid fa-bars" id="sidebar-close"></i>
        </nav>

        <main class="main">
            <h1>Admin Dashboard Content</h1>
        </main>

        <script src="script.js"></script>
    </body>
    </html>

    <script>
        const sidebar = document.querySelector(".sidebar");
        const sidebarClose = document.querySelector("#sidebar-close");
        const menu = document.querySelector(".menu-content");
        const menuItems = document.querySelectorAll(".submenu-item");
        const subMenuTitles = document.querySelectorAll(".submenu .menu-title");

        sidebarClose.addEventListener("click", () => sidebar.classList.toggle("close"));

        menuItems.forEach((item, index) => {
            item.addEventListener("click", () => {
                menu.classList.add("submenu-active");
                item.classList.add("show-submenu");
                menuItems.forEach((item2, index2) => {
                    if (index !== index2) {
                        item2.classList.remove("show-submenu");
                    }
                });
            });
        });

        subMenuTitles.forEach((title) => {
            title.addEventListener("click", () => {
                menu.classList.remove("submenu-active");
            });
        });
    </script>*@


<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard Panel</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="~/Content/images/Salman.png" alt="">
            </div>

            <span class="logo_name">Nexus Service</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dahsboard</span>
                    </a>
                </li>
                <li>

                    <a href="@Url.Action("Add_Category")">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Category</span>


                    </a>
                </li>
                <li>

                    <a href="@Url.Action("DisplayCategory")">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">DisplayCategory</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Add_Product")">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Products</span>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DisplayProduct")">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">DisplayProduct</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="uil uil-comments"></i>
                        <span class="link-name">Comment</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-share"></i>
                        <span class="link-name">Share</span>
                    </a>
                </li>
            </ul>
       
            <ul class="logout-mode">
                <li>
                    <a href="@Url.Action("Login")">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Admin Login</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                @using (Html.BeginForm("View_Product", "Admin")) {
                    <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
                }
            </div>

            <img src="~/Content/images/Salman.png" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Nexus Marketing</span>
                </div>

                <div class="boxes">
                    <div style="background-color: #A3D921" class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">@Html.ActionLink("CATEGORIES", "ViewCategory", "Admin")</span>
                        <span style="color:white"  class="number">@TempData["category"]</span>
                    </div>
                    <div style="background-color: #A3D921" class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">@Html.ActionLink("REGISTERED USERS", "ViewUsers", "Admin")</span>
                        <span class="number">@TempData["users"]</span>
                    </div>
                    <div style="background-color: #A3D921" class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">@Html.ActionLink("PRODUCTS", "ViewProduct", "Admin")</span>
                        <span  class="number">@TempData["product"]</span>
</div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>

                @*<div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

    
</body>
</html>
<script>
    const body = document.querySelector("body"),
        modeToggle = body.querySelector(".mode-toggle");
    sidebar = body.querySelector("nav");
    sidebarToggle = body.querySelector(".sidebar-toggle");

    let getMode = localStorage.getItem("mode");
    if (getMode && getMode === "dark") {
        body.classList.toggle("dark");
    }

    let getStatus = localStorage.getItem("status");
    if (getStatus && getStatus === "close") {
        sidebar.classList.toggle("close");
    }

    modeToggle.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
            localStorage.setItem("mode", "dark");
        } else {
            localStorage.setItem("mode", "light");
        }
    });

    sidebarToggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
        if (sidebar.classList.contains("close")) {
            localStorage.setItem("status", "close");
        } else {
            localStorage.setItem("status", "open");
        }
    })
</script>
